.globalWrapper{
	display: grid;
	grid-template-columns: 6fr 1fr;
	margin: 5px;
}

.workspace{
	background-color: white; 
	border: solid 3px red; 
	min-width: 400px;
	margin-right: 5px;
}

.right{
	display: grid;
	gap: 5px;
	grid-template-rows: 2.5fr 1fr;
	grid-template-columns: 100%;
	min-width: 100px;
	justify-content: center;
}

.generalContainer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #f2d6a5; 
	border: solid 3px red; 
	justify-items: center;
	align-items: center;
	gap: 5px;
}

.bin{
	display: flex;
	justify-content: center;
	border: solid 3px red; 
	min-width: 90px;
	min-height: 90px;
}

.bin img{
	max-width: inherit;
	max-height: inherit;
	min-width: inherit;
	min-height: inherit;
	width: 99%;
}

.wrapperDiv{
	display:inline-block;
	border: 2px dashed;
	max-width: 100px;
	max-height: 100px;
	min-width: 20px;
	min-height: 20px;
	height: fit-content;
}

.wrapperDiv *{
	max-width: inherit;
	max-height: inherit;
	min-width: inherit;
	min-height: inherit;
	width: 100%;
}

.currentTarget{
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
}

.currentTarget *{
	width: inherit;
	height: inherit;
}