.globalWrapper{
	display: grid;
	grid-template-columns: 6fr 1fr;
	margin: 5px;
}

.workspace{
	background-color: white; 
	border: solid 3px red; 
	min-width: 500px;
}

.right{
	display: grid;
	grid-template-rows: 2.7fr 1fr;
	grid-template-columns: 1fr;
	margin: 0 0 0 5px;
	justify-content: center;
}

.generalContainer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #f2d6a5; 
	border: solid 3px red; 
	min-width: 90px;
	min-height: 250px;
}

.bin{
	display: flex;
	margin: 5px 0 0 0;
	justify-content: center;
	border: solid 3px red; 
	min-width: 90px;
}

.bin img{
	min-width: inherit;
	min-height: inherit;
}

.wrapperDiv{
	display:inline-block;
	margin: 10px;
	border: 2px dashed;
	max-width: 100px;
	max-height: 100px;
	min-width: 40px;
	min-height: 40px;
	height: fit-content;
}

.wrapperDiv img{
	max-width: inherit;
	max-height: inherit;
	width: 100%;
}

.currentTarget{
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
}

.currentTarget img{
	width: inherit;
	height: inherit;
}